{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4">Skills</h1>
        </div>
      </div>
      <div style="padding-top: 2em" class="row">
        <div class="col">
            <p class="bio">
                Throughout my career I've used a wide variety of languages, frameworks, technologies, and tools. Right now, I primarily use <span>.NET</span> and <span>C#</span> at 
                my current employer, while I use <span>Python</span> as an everyday tool. In my free time, I've been tinkering with front end frameworks such as <span>Django</span> 
                and <span>React</span>. 
        </div>
        <div class="col">
            <p class="recent-skills-header">Here are a few technologies I’ve been working with recently:</p>
            <div class="row" style="padding-left: 5em">
                <div class="col">
                    <p class="skills-list" style="color: #71D6C8"><span class="fa-li"><i class="fa fa-chevron-circle-right"></i></span>C#</p>
                </div>
                <div class="col">
                    <p class="skills-list" style="color: #71D6C8"><span class="fa-li"><i class="fa fa-chevron-circle-right"></i></span>Python</p>
                </div>
            </div>
            <div class="row" style="padding-left: 5em">
                <div class="col">
                    <p class="skills-list" style="color: #71D6C8"><span class="fa-li"><i class="fa fa-chevron-circle-right"></i></span>Django</p>
                </div>
                <div class="col">
                    <p class="skills-list" style="color: #71D6C8"><span class="fa-li"><i class="fa fa-chevron-circle-right"></i></span>React</p>
                </div>
            </div>
        </div>
      </div>
      <div class="row" style="padding-top: 2em">
        <div class="col">
            <p class="bio">Want to see my skills in action? Check out my projects:</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="text-left col-lf-1">
                <a href="{% url 'projects' %}">
                  <button class="btn btn-iconed btn-lg btn-rounded btn-outline-warning" role="button" href="{% url 'about' %}">
                    <span class="spn">Projects</span> <i class="fa fa-arrow-right"></i>
                  </button>
                </a>
              </div>
        </div>
      </div>
      <div style="padding-top: 1em" class="row">
        <div class="col-md-auto skills-col">
            <i class="devicon-csharp-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-dot-net-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-azure-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-python-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-android-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-java-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-gradle-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-kotlin-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col ">
            <i class="devicon-django-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-react-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-ruby-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-amazonwebservices-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-c-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-css3-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-docker-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-git-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-html5-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-intellij-plain colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-visualstudio-plain colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-vscode-plain colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-atom-plain colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-jquery-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-javascript-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-lua-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-microsoftsqlserver-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-mysql-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-postgresql-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-sqlite-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col-md-auto skills-col">
            <i class="devicon-selenium-plain-wordmark colored skills-icon"></i>
        </div>
      </div>
    </div>
</div>
{% endblock %}