{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4">Skills</h1>
        </div>
      </div>
      <div style="padding-top: 2em" class="row">
        <div class="col">
            <i class="devicon-csharp-plain-wordmark colored skills-icon"></i>
            <i class="devicon-dot-net-plain-wordmark colored skills-icon"></i>
            <i class="devicon-azure-plain-wordmark colored skills-icon"></i>
            <i class="devicon-android-plain-wordmark colored skills-icon"></i>
            <i class="devicon-java-plain-wordmark colored skills-icon"></i>
            <i class="devicon-gradle-plain-wordmark colored skills-icon"></i>
            <i class="devicon-kotlin-plain-wordmark colored skills-icon"></i>
            <i class="devicon-django-plain-wordmark colored skills-icon"></i>
            <i class="devicon-react-plain-wordmark colored skills-icon"></i>
            <i class="devicon-ruby-plain-wordmark colored skills-icon"></i>
        </div>
        <div class="col">
            
        </div>
      </div>
    </div>
</div>
{% endblock %}