{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">About Me</h1>
    <div class="profile-pic text-center">
      <img src="{% static "img/profilepic.jpg" %}" class="rounded-circle" alt="Picture of Jacob Hollis">
    </div>
    <div style="text-align: left;">
      <div class="bio-body">
        <p class="bio">
          Hello! My name is <span>Jacob</span> (but most people call me <span>Jake</span>) and I enjoy solving complex problems and building impactful solutions.
          My interest in coding and software development began way back when kid I discovering I could edit Lua scripts on a little online game called Roblox.
          That early experience motivated me to explore programming in college, and now I live it every day as a software engineer.
          <br>
          <p class="bio">
          In the present, I primarily work with <span>C#</span>, <span>Java</span>, and <span>Python</span> but I am always learning and exploring new technologies, 
          so you may see me tinkering around with other frameworks such as <span>Django</span> (hey that's what this website is built with!), <span>React</span>, <span>Ruby</span>, and many others.
          <br>
          <p class="bio">
          If you want to see the full list of technologies I've worked with, go check out my skills below:
          <div class="text-left other-button">
            <a href="{% url 'skills' %}">
              <button class="btn btn-iconed btn-lg btn-rounded btn-outline-warning" role="button" href="{% url 'about' %}">
                <span class="spn">Skills</span> <i class="fa fa-arrow-right"></i>
              </button>
            </a>
          </div>
      </div>  
    </div>
  </div>
</div>
{% endblock %}