{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-4">Projects</h1>
            </div>
        </div>
        <div class="row" style="padding-top: 2em">
            {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-4" style="background-color: #112240;">
                    <div class="card-header border-0" style="background-color: #112240;">
                        <div class="row" style="padding-top: 0.5em">
                            <div class="col">
                                <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer">
                                    <button style="color: #71D6C8; border: none; background: none; padding-left: 1em;" role="button">
                                        <i class="fa fa-folder-open" style="font-size: 2em;"></i>
                                    </button>
                                </a>
                            </div>
                            <div class="col-2">
                                <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer">
                                    <button class="float-right project-link" style="color: #7e8ba5; border: none; background: none;" role="button">
                                        <i class="fa-solid fa-arrow-up-right-from-square" style="font-size:1.3em;"></i>
                                    </button>
                                </a>
                            </div>
                            <div class="col-2">
                                <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer">
                                    <button class="float-right project-link" style="color: #7e8ba5; border: none; background: none;" role="button">
                                        <i class="fa-brands fa-github" style="font-size:1.3em;"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--<img class="card-img-top" style="padding: 1em" src="{% static project.image %}">-->
                    <div class="card-body">
                        <h5 class="card-title" style="color: white">{{ project.title }}</h5>
                        <p class="card-text" style="color: #7e8ba5">{{ project.description }}</p>
                        <div class="row justify-content-start">
                            <div class="col">
                                <p class="card-text " style="color: #71D6C8; font-size: 0.8em; padding-top: 1.5em">{{ project.technologyone }}</p>
                            </div>
                            <div class="col">
                                <p class="card-text " style="color: #71D6C8; font-size: 0.8em; padding-top: 1.5em">{{ project.technologytwo }}</p>
                            </div>
                            <div class="col">
                                <p class="card-text " style="color: #71D6C8; font-size: 0.8em; padding-top: 1.5em">{{ project.technologythree }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}