body {
    background: #17171F;
}

.container {
    .bio {
        width: 30vw;
        color: #7e8ba5;
        font-size: large;
        padding-top: 1em;
        span {
            color: #71D6C8
        }
    }
    .lead {
        color: #71D6C8;
    }
    .recent-skills-header {
        color: #7e8ba5;
        font-size: large;
        padding-top: 1em;
        padding-left: 2em;
        span {
            color: #71D6C8
        }
    }
}

.skills-list {
    font-size: large;
    i {
        color: #71D6C8;
    }
}

.navbar {
    padding: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

.nav-item {
    text-align: right;
    padding-left: 1em;
    padding-right: 1em;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.active {
    color: white;
}

.jumbotron {
    background: #17171F;
    padding-top: 10vh;
    h1 {
        color: white;
        font-weight: bold;
    };
    p {
        color: white;
    }
    hr {
        border-top: 1px solid white;
    }
}

.home-buttons-first {
    padding-top: 2em;
    padding-left: 1em;
}

.home-buttons {
    padding-top: 2em;
    padding-left: 5em;
}

.profile-pic {
    padding-top: 2em;
    img {
    border-style: groove;
    border-color: #71D6C8;
    }
}

.other-button {
    padding-top: 2em;
}

.skills-icon {
    font-size: 5em;
}

.skills-col {
    padding-top: 2em;
}

/** ----------------------- typing animation ----------------------- **/
.typing-container 
{
    padding-top: 1vh;
    p {
        span.typed-text {
            font-weight: bold;
            color: #71D6C8;
        }
        span.cursor {
            display: inline-block;
            background-color: #ccc;
            width: 3px;
            animation: blink 1s infinite;
        }
        span.cursor.typing {
            animation: none;
        }
    }
}

@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}


/** ----------------------- buttons ----------------------- **/
/** Flatted button %placeholder **/
%btn-flat {
    border-radius: 0em;
 }
 /** Rounded button **/
 .btn-rounded {
    border-radius: 0.5em;
 }
 /** Button Iconed **/
 .btn {
  &-iconed {
    transition: .15s ease-in-out;
    padding-left: 1.5em;
    padding-right: 1.3em;
    [class~=oi]::before {
          opacity: 0;
          transform-origin: left right;
          transform: translateX(-10px) scale(1.25);
          transition: .15s ease-out;
   }
   /** Span Class **/
   [class=spn] {
       position: relative;
       left:-9px;
       transform-origin: left right;
       transform: translateX(-9px);
       transition: .20s ease-in-out;
   }
    /** -- Icons on Hover properties -- **/
   &:hover {
    [class~=oi]::before {
        opacity: 1;
        transform: translateX(0px) scale(.75);
    }
    /** -- Span on Hover properties -- **/
    [class=spn] {
        // transform: translateX(0);
        left:0px;
    }
   }
   /** Flatted button **/
   &.btn-flat {
      @extend %btn-flat;
   }
  }
 }

/** ----------------------- loading screen ----------------------- **/

 #loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
  
.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}