body {
    background: #17171F;
}

.nav-item {
    color: white;
    padding-left: 2%;
    padding-right: 2%;
}

.jumbotron {
    background: #17171F;
    padding-top: 10%;
    h1 {
        color: white;
        font-weight: bold;
    };
    p {
        color: white;
    }
}