body {
    background: #17171F;
}

.container {
    .bio {
        width: 30vw;
        opacity: 0.6;
        font-size: large;
        padding-top: 1rem;
    }
    .lead {
        color: #71D6C8;
    }
}

.navbar {
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-item{
    text-align: right;
    padding-left: 1rem;
    padding-right: 1rem;
}

.jumbotron {
    background: #17171F;
    padding-top: 13rem;
    h1 {
        color: white;
        font-weight: bold;
    };
    p {
        color: white;
    }
}

.typing-container 
{
    padding-top: 1vh;
    p {
        span.typed-text {
            font-weight: bold;
            color: #71D6C8;
        }
        span.cursor {
            display: inline-block;
            background-color: #ccc;
            width: 3px;
            animation: blink 1s infinite;
        }
        span.cursor.typing {
            animation: none;
        }
    }
}

@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}