<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load sass_tags %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="{% sass_src 'custom.scss' %}" rel="stylesheet" type="text/css" />

    <title>Portfolio Website</title>
  </head>
  <body>
    <nav class="navbar justify-content-center">
        <a class="nav-item nav-link active" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
        <a class="nav-item nav-link" href="{% url 'skills' %}">Skills</a>
        <a class="nav-item nav-link" href="{% url 'projects' %}">Projects</a>
        <a class="nav-item nav-link" href="{% url 'contact' %}">Contact</a>
    </nav>
    {% block page_content %} 
    {% endblock %}
  </body>
</html>