{% extends "base.html" %}
{% block page_content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Hey There 👋</h1>
      <h1 class="display-3">I'm Jake</h1>
      <div class="display-4 typing-container">
        <p>I'm a <span class="typed-text"></span><span class="cursor">&nbsp;</span> Software Engineer</p>
      </div>
      <!--<p class="display-4">I'm a back-end, front-end, full-stack, software engineer.</p>-->
    </div>
  </div>
{% endblock %}