{% extends "base.html" %}
{% block page_content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="lead">Hi, my name is</p>
      <h1 class="display-3">Jacob Hollis 👋</h1>
      <div class="display-4 typing-container">
        <p>I'm a <span class="typed-text"></span><span class="cursor">&nbsp;</span> Software Engineer</p>
      </div>
      <div>
        <p class="bio">I'm a software engineer specializing in building exceptional software, up and down the stack. Currently, I'm focusing on building open-source tools and refining my skills in front-end development.</p>
      </div>
    </div>
  </div>
{% endblock %}