{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Hey There 👋</h1>
      <h1 class="display-3">I'm Jake</h1>
      <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Si.", "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
        <span class="wrap"></span>
      </a>
      <p class="display-4">I'm a back-end, front-end, full-stack, software engineer.</p>
    </div>
  </div>
{% endblock %}